<h2 class="mt-5">Genre '{{book.[0].genre}}'</h2>
<div class="container mt-5"></div>


<ul class="list-group list-group-horizontal col-10">
  <li class="list-group-item d-flex align-items-center col-2 "><img
      src="/images/{{book.[0].genre}}/{{book.[0].coverIMG}}" class="img-fluid rounded" alt="..."></li>
  <div class=" list-group-item col-12">
    <div class="fw-bold"><i>{{book.[0].title}}</div></i>
    <p class="fw-normal"><i>by: {{book.[0].authorFirstName}} {{book.[0].authorLastName}}</p></i>
    <p class="fw-light">{{book.[0].Description}}</p>
    <button id ='genrebtn1' type="button" class="btn btn-primary btn-sm">add to myBookies</button>
    <p id='genreid1' style='display:none'>{{book.[0].id}}</p>
  </div>
  </li>
</ul>
<ul class="list-group list-group-horizontal col-10">
  <li class="list-group-item d-flex align-items-center col-2 "><img
      src="/images/{{book.[0].genre}}/{{book.[1].coverIMG}}" class="img-fluid rounded" alt="..."></li>
  <div class=" list-group-item col-12">
    <div class="fw-bold"><i>{{book.[1].title}}</div></i>
    <p class="fw-normal"><i>by: {{book.[1].authorFirstName}} {{book.[1].authorLastName}}</p></i>
    <p class="fw-light">{{book.[1].Description}}</p>
    <button id ='genrebtn2'  type="button" class="btn btn-primary btn-sm">add to myBookies</button>
    <p id='genreid2' style='display:none'>{{book.[1].id}}</p>
  </div>
  </li>
</ul>
<ul class="list-group list-group-horizontal col-10">
  <li class="list-group-item d-flex align-items-center col-2 "><img
      src="/images/{{book.[0].genre}}/{{book.[2].coverIMG}}" class="img-fluid rounded" alt="..."></li>
  <div class=" list-group-item col-12">
    <div class="fw-bold"><i>{{book.[2].title}}</div></i>
    <p class="fw-normal"><i>by: {{book.[2].authorFirstName}} {{book.[2].authorLastName}}</p></i>
    <p class="fw-light">{{book.[2].Description}}</p>
    <button id ='genrebtn3' type="button" class="btn btn-primary btn-sm">add to myBookies</button>
    <p id='genreid3' style='display:none'>{{book.[2].id}}</p>
  </div>
  </li>
</ul>
<ul class="list-group list-group-horizontal col-10">
  <li class="list-group-item d-flex align-items-center col-2 "><img
      src="/images/{{book.[0].genre}}/{{book.[3].coverIMG}}" class="img-fluid rounded" alt="..."></li>
  <div class=" list-group-item col-12">
    <div class="fw-bold"><i>{{book.[3].title}}</div></i>
    <p class="fw-normal"><i>by: {{book.[3].authorFirstName}} {{book.[3].authorLastName}}</p></i>
    <p class="fw-light">{{book.[3].Description}}</p>
    <button id ='genrebtn4' type="button" class="btn btn-primary btn-sm">add to myBookies</button>
    <p id='genreid4' style='display:none'>{{book.[3].id}}</p>
  </div>
  </li>
</ul>
<ul class="list-group list-group-horizontal col-10">
  <li class="list-group-item d-flex align-items-center col-2 "><img
      src="/images/{{book.[0].genre}}/{{book.[4].coverIMG}}" class="img-fluid rounded" alt="..."></li>
  <div class=" list-group-item col-12">
    <div class="fw-bold"><i>{{book.[4].title}}</div></i>
    <p class="fw-normal"><i>by: {{book.[4].authorFirstName}} {{book.[4].authorLastName}}</p></i>
    <p class="fw-light">{{book.[4].Description}}</p>
    <button id ='genrebtn5' type="button" class="btn btn-primary btn-sm">add to myBookies</button>
    <p id='genreid5' style='display:none'>{{book.[4].id}}</p>
  </div>
  </li>
</ul>