<h2 class="mt-5">Genre:{{book.[0].genre}}</h2>
<div class="container mt-5" ></div>


<ul class="list-group list-group-horizontal col-10">
  <li class="list-group-item d-flex align-items-center col-2 "><img src="/images/{{book.[0].genre}}/{{book.[0].coverIMG}}" class="img-fluid rounded"  alt="..."></li>
     <div class=" list-group-item col-12">
      <div class="fw-bold">Title: {{book.[0].title}}</div>
     <p class="fw-normal">Author: {{book.[0].authorFirstName}} {{book.[0].authorLastName}}</p>
      <p class="fw-light">Description:</p>

    </div>
    <span class="bg-primary rounded-end ">+</span>
    </li>
</ul>
<ul class="list-group list-group-horizontal col-10">
  <li class="list-group-item d-flex align-items-center col-2 "><img src="/images/{{book.[0].genre}}/{{book.[1].coverIMG}}" class="img-fluid rounded"  alt="..."></li>
     <div class=" list-group-item col-12">
        <div class="fw-bold">Title: {{book.[1].title}}</div>
      <p class="fw-normal">Author: {{book.[1].authorFirstName}} {{book.[1].authorLastName}}</p>
      <p class="fw-light">Description:</p>
    </div>
    <span class="bg-primary rounded-end ">+</span>
    </li>
</ul>
<ul class="list-group list-group-horizontal col-10">
  <li class="list-group-item d-flex align-items-center col-2 "><img src="/images/{{book.[0].genre}}/{{book.[2].coverIMG}}" class="img-fluid rounded"  alt="..."></li>
        <div class=" list-group-item col-12">
        <div class="fw-bold">Title: {{book.[2].title}}</div>
      <p class="fw-normal">Author: {{book.[2].authorFirstName}} {{book.[2].authorLastName}}</p>
      <p class="fw-light">Description:</p>
    </div>
    <span class="bg-primary rounded-end ">+</span>
    </li>
</ul>
<ul class="list-group list-group-horizontal col-10">
  <li class="list-group-item d-flex align-items-center col-2 "><img src="/images/{{book.[0].genre}}/{{book.[3].coverIMG}}" class="img-fluid rounded"  alt="..."></li>
        <div class=" list-group-item col-12">
        <div class="fw-bold">Title: {{book.[3].title}}</div>
      <p class="fw-normal">Author: {{book.[3].authorFirstName}} {{book.[3].authorLastName}}</p>
      <p class="fw-light">Description:</p>
    </div>
    <span class="bg-primary rounded-end ">+</span>
    </li>
</ul>
<ul class="list-group list-group-horizontal col-10">
  <li class="list-group-item d-flex align-items-center col-2 "><img src="/images/{{book.[0].genre}}/{{book.[4].coverIMG}}" class="img-fluid rounded"  alt="..."></li>
        <div class=" list-group-item col-12">
        <div class="fw-bold">Title: {{book.[4].title}}</div>
      <p class="fw-normal">Author: {{book.[4].authorFirstName}} {{book.[4].authorLastName}}</p>
      <p class="fw-light">Description:</p>
    </div>
    <span class="bg-primary rounded-end ">+</span>
    </li>
</ul>